body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: gray;
}
h4:hover{
    color: red;
}
#bg-images{
    background-image: url(images/logos/logo.avif);
    background-size: cover;
    height: 550px;
}
.margintop{
    margin-top: 140px;
    font-family: calibri;
    font-size: 80px;
}
input{
    border: none;
    outline: none;
}
.deliverypic:hover{
    background-color: black;

}
.deliverypic1:hover{
    border-bottom: 3px solid red;
    padding: 10px;
}
.textcolor:hover{
    color: red;
}
.dinigpic:hover{
    background-color: red;
}




