body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
h4:hover{
    color: red;
}
#bg-images{
    background-image: url(images/logos/logo.avif);
    background-size: cover;
    height: 550px;
}
.margintop{
    margin-top: 140px;
    font-family: calibri;
    font-size: 80px;
}
input{
    border: none;
    outline: none;
    width: 300px;
}


